.Request__box___3BZPq{
  margin-top:50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom:50px;
  width:80%;
  max-height:40%;
  padding:10px;
  text-align:center;
}

@media (min-width: 600px) {
  .Request__box___3BZPq {
      width: 60%;
  }
}

@media (min-width: 1100px) {
  .Request__box___3BZPq {
      width: 60%;
  }
}

@media (min-width: 2200px) {
  .Request__box___3BZPq {
      width: 50%;
  }
}

.Request__wrap___1TkTz{
  height:100%;
  max-height:100%;
  overflow: hidden;
}

.Request__scroll___2u8xA{
  overflow-y: scroll;
  height:180px;
  max-height:180px;
}

.Request__dialogue___ThtKy strong {
  cursor:pointer;
}.container {
    padding-top:80px;
}

.nav-item{
    cursor:pointer
}

img{
  margin-right:5px;
  float:left;
}

.footer {
  position:fixed;
  bottom:0;
  right:0;
  text-align: right;
  padding:15px
}
.footer span {
  position:relative;
  display:block
}

.fas, .fab{
  margin-top:5px
}

.Main__wrap___18kqX{
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
}

.PersonalInfo__largeLineHeight___1JrS5{
 line-height: 40px; 
}

.PersonalInfo__button___3YR06 {
  border: 0;
  background: none;
  cursor:pointer;
}
.DropDownBtn__right___3Bznx {
    right: 0;
    left: auto;
}.BookCard__card___39keR {
  position: relative;
  height: 150px;
  width: 100px;
  overflow: hidden;
  display:inline-block;
  cursor:pointer;
  margin:5px;
}


.BookCard__card___39keR img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  opacity:1;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.BookCard__center___y_6R7 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.BookCard__card___39keR:hover img {
  opacity: 0.3;
}

.BookCard__card___39keR:hover .BookCard__center___y_6R7 {
  opacity: 1;
}
.Connect__card___s3Sq1{
    width:80%;
}

@media (min-width: 600px) {
  .Connect__card___s3Sq1 {
      width: 60%;
  }
}

@media (min-width: 1100px) {
  .Connect__card___s3Sq1 {
      width: 60%;
  }
}

@media (min-width: 2200px) {
  .Connect__card___s3Sq1 {
      width: 50%;
  }
}

.Connect__outer___1WVhD{
    display:flex;
    flex-direction:row;
}

.Connect__inner___jpP7c {
    min-height: calc(100vh - 100px);
    width:100%;
    align-items: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
