.personinfo{
 line-height: 40px; 
}

.iconbtn{
  border: 0;
  background: none;
  cursor:pointer;
}


.usercontrol{
  position:fixed;
  bottom:10px;
  left:0;
  right:0;
  margin: 0 auto;
  width:80%;
  max-height:40%;
  padding:10px;
}

@media (min-width: 600px) {
  .usercontrol {
      width: 60%;
  }
}

@media (min-width: 1100px) {
  .usercontrol {
      width: 60%;
  }
}

@media (min-width: 2200px) {
  .usercontrol {
      width: 50%;
  }
}


.booklistwrap{
  height:100%;
  max-height:100%;
  overflow: hidden;
}

.booklist{
  overflow-y: scroll;
  height:180px;
  max-height:180px;
}

.dialogue strong {
  cursor:pointer;
}